body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    /*background-position: 100% 10%;*/
    background-position: 100% 10%;
}

p {
    color: rgb(181, 34, 81);
}