body {
    background:#e9d3d3;
}

p {
    color: rgb(181, 34, 81);
}

.foto-principal {
    width: 200px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
/*
border-width: 5px;
border-style: solid;
border-color: black;
*/
}
